#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_APP_ICON ICON "icon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Font
//

IDR_FONT1 RCDATA "./fonts/NotoSans-Black.ttf"
